ul li{
    list-style: none;
    margin: 0;
    padding: 0;
}

span{
    margin: 0;
    padding: 0;
}
body{
    overflow-x: hidden;
    font-family: 'Roboto';
    background: rgb(41,252,154);
    background: linear-gradient(277deg, rgb(133, 235, 187) 0%, rgba(85, 150, 106, 0.583) 36%, rgba(142, 243, 157, 0.342) 72%, rgba(161, 236, 216, 0.995) 100%);
}

h1{
    display: flex;
    justify-content: center;
    font-size: 48px;
    color: rgb(7, 7, 7);
}

.header{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
}
input{
    width: 30%;
    border: none;
    border-radius: 10px 0 0 10px;
    padding: 10px;
    
}

input:focus-visible {
    outline: none;
}
::placeholder{
    color: #7a7878;
}

span.inputBtn{
    width: 10%;
    display: flex;
    justify-content: center;
    font-weight: 600;
    color: #080808;
    padding: 8px 0;
    background-color: #4ead37;
    border-radius: 0 10px 10px 0; 

}

.my__list{
    display: flex;
    justify-content: center;
}

.my__list li{
    padding: 20px;
    background: rgb(41,252,154);
    background: linear-gradient(277deg, rgb(133, 235, 187) 0%, rgba(132, 226, 162, 0.583) 36%, rgba(142, 243, 157, 0.342) 72%, rgba(161, 236, 216, 0.995) 100%);
    cursor: pointer;
    width: 50vw;
    border-radius: 20px;
}

.my__list li:hover{
    background-color: #d3fd9d;
    font-weight: 600;
    color: #176e02;
    transition: all 0.4s;
}

ul li.checked {
    background: #888;
    color: #fff;
    text-decoration: line-through;
}







